.box{
    position: relative;
}
.left{
    width: 200px;
    position: absolute;
    left:0;
    background-color:red;
}
.right{
    position: absolute;
    width:200px;

    right:0;
    background-color: blue;
}
.center{
    margin: 0 200px;
    background-color: green;
}